<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>com.filter.CheckLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/ViewOrder.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/CreateProduct.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/PageUser.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>com.server.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>com.server.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.server.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.server.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageUser</servlet-name>
        <servlet-class>com.server.PageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>com.server.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderByCustomer</servlet-name>
        <servlet-class>com.server.OrderByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.server.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlInformIteam</servlet-name>
        <servlet-class>com.server.ControlInformIteam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlViewCustomer</servlet-name>
        <servlet-class>com.server.ControlViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentProduct</servlet-name>
        <servlet-class>com.server.PaymentProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExchangePass</servlet-name>
        <servlet-class>com.server.ExchangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPass</servlet-name>
        <servlet-class>com.server.EditPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.fix.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchType</servlet-name>
        <servlet-class>com.server.SearchType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIteam</servlet-name>
        <servlet-class>com.server.DeleteIteam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct1</servlet-name>
        <servlet-class>com.server.SearchProduct1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageUser</servlet-name>
        <url-pattern>/PageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderByCustomer</servlet-name>
        <url-pattern>/OrderByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlInformIteam</servlet-name>
        <url-pattern>/ControlInformIteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlViewCustomer</servlet-name>
        <url-pattern>/ControlViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentProduct</servlet-name>
        <url-pattern>/PaymentProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangePass</servlet-name>
        <url-pattern>/ExchangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPass</servlet-name>
        <url-pattern>/EditPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchType</servlet-name>
        <url-pattern>/SearchType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIteam</servlet-name>
        <url-pattern>/DeleteIteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct1</servlet-name>
        <url-pattern>/SearchProduct1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
